{% extends "base.html" %}
{% load static %}
{% block content %}
    {% for pd in products %}
        <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="{{ pd.image.url }}" class="img-fluid" style="object-fit: scale-down" height="100px"
                 width="100px"/>

            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ pd.name }}</h5>
            <p class="card-text">
                {{ pd.description }}</p>
            <input type="submit" value="Detail" class="btn btn-info">
        </div>
    {% endfor %}
</div>
{% endblock %}