/* contact */
#contact {
    margin-top: 50px;
}

#contact h1 {
    color: #1c1c50;
    text-shadow: 0 0 1px black;
}

#contact .card {
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

#contact .card i {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
}

#contact .card h6 {
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #1c1c50;
}

#messagebtn button {
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
}

#messagebtn button:hover {
    background-color: #1c1c50;
    color: white;

}

/* contact */
