{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'customers/css/style_about.css' %}">
    <link rel="stylesheet" href="{% static 'offer_style.css' %}">
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
    <link rel="stylesheet" href="{% static 'navbar_style.css' %}">
{% endblock %}
{% block content %}
    <!-- about -->
    <div class="container" id="about">
        <h1>ABOUT US</h1>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6 py-md-0">
                <div class="card">
                    <img src="../../../media/products/about.png" alt="">
                </div>
            </div>
            <div class="col-md-6 py-md-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolore eaque id incidunt ipsum iure
                    modi necessitatibus, neque nesciunt non, nostrum obcaecati odit praesentium quidem rem, repellat
                    reprehenderit rerum sunt suscipit tenetur. Architecto est iste laboriosam molestiae obcaecati
                    possimus! A asperiores aspernatur culpa deleniti distinctio dolores, ducimus eius fugiat harum
                    inventore iusto libero minima molestias necessitatibus odit officiis, perspiciatis placeat quae
                    quaerat quia quo recusandae reprehenderit rerum velit vitae voluptas voluptate! Aperiam, aspernatur
                    aut delectus doloribus eum facere fugit illum nisi officiis, quam quas quibusdam, repellendus sint
                    veniam vitae. Esse id, inventore ipsa magni nesciunt optio quia quod reiciendis ullam?</p>
            </div>
        </div>
    </div>
    <!-- about -->

    <!-- offer -->
    <div class="container" id="offer">
        <div class="row">
            <div class="col-md-4 py-md-0">
                <i class="fa-solid fa-cart-shopping"></i>
                <h5>Free Shipping</h5>
                <p>On order over $100</p>
            </div>
            <div class="col-md-4 py-md-0">
                <i class="fa-solid fa-truck"></i>
                <h5>Fast Delivery</h5>
                <p>World Wide</p>
            </div>
            <div class="col-md-4 py-md-0">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Big Choice</h5>
                <p>Of Product</p>
            </div>
        </div>
    </div>
    <!-- offer -->

{% endblock %}