{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
    <link rel="stylesheet" href="{% static 'navbar_style.css' %}">
    <link rel="stylesheet" href="{% static 'footer_style.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/style_login.css' %}">
{% endblock %}
{% block content %}
    <!-- login -->
    <div class="container login">
        <div class="row">
            <div class="col-md-4" id="side1">
                <h3>Hello Friend!</h3>
                <p>Create New Account</p>
                <div id="btn"><a href="{% url 'customers:register' %}">Register</a></div>
            </div>
            <div class="col-md-8" id="side2">
                <h3>Login Account</h3>
                <div class="inp">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div id="form1">
                            {{ form.as_p }}
                        </div>
                        <div id="login">
                            <button type="submit">LOG IN</button>
                        </div>

                    </form>

                </div>
                <p>Forgot Your Password</p>
                <div class="icons">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>

            </div>
        </div>
    </div>
    <!-- login -->

{% endblock %}