{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
    <link rel="stylesheet" href="{% static 'navbar_style.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/style_register.css' %}">
{% endblock %}
{% block content %}
    <!-- register -->
    <div class="container login">
        <div class="row">
            <div class="col-md-4" id="side1">
                <h3>Welcome Back!!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis exercitationem facere
                    facilis incidunt praesentium quaerat ratione saepe. Dolorum ducimus enim maiores, officiis
                    perferendis quod reiciendis rerum sit totam ullam.</p>
                <div id="btn"><a href="{% url 'customers:login' %}">Login</a></div>
            </div>
            <div class="col-md-8" id="side2">
                <h3>Create Account</h3>
                <div class="inp">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div id="reza">
                            {{ form.as_p }}
                        </div>
                        <div id="login">
                            <button type="submit">Register</button>
                        </div>

                    </form>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti distinctio dolor esse,
                    eveniet exercitationem impedit iusto laborum magnam maiores molestiae nam perspiciatis quia
                    repellendus repudiandae similique suscipit? Distinctio, et?</p>
                <div class="icons">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>

            </div>
        </div>
    </div>
    <!-- register -->


{% endblock %}