/* home section */
.home-section {
    width: 100%;
    height: 93vh;
    background-color: #a9a9a926;
}


/* home content */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
}

.home .img {
    flex: 1 1 400px;
}

.home .img img {
    width: 100%;
}

.home .content {
    flex: 1 1 400px;
    margin-top: 30px;
}

.content h3 {
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: #1c1c50;
    font-weight: bold;
}

.content h3 span {
    font-size: 40px;
}

.content p {
    margin-left: 70px;
    color: #1c1c50;
}

.content #shopnow {
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid #1c1c50;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}

.content #shopnow:hover {
    background-color: #1c1c50;
    color: white;
}

@media screen and (max-width: 800px) {
    .content h3 {
        margin-left: 50px;
        font-size: 40px;
    }

    .content p {
        margin-left: 50px;
    }

    .content #shopnow {
        margin-left: 50px;
    }
}

@media screen and (max-width: 570px) {
    .content h3 {
        margin-left: 20px;
    }

    .content p {
        margin-left: 20px;
    }

    .content #shopnow {
        margin-left: 20px;
    }
}

@media screen and (max-width: 550px) {
    .home-section {
        height: 100vh;
    }
}

/* home content */
/* home section */
/* top cards */
#top-cards {
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
}

#top-cards .card img {
    height: 60vh;
}

#top-cards h5 {
    color: #1c1c50;
    font-weight: bold;
}

#top-cards button {
    width: 150px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 3px;
    background: transparent;
    color: #1c1c50;
    border: 2px solid #1c1c50;
    transition: 0.5s ease;
    cursor: pointer;
}

#top-cards button:hover {
    background-color: #1c1c50;
    color: white;
}

/* top cards */

/* banner */
.banner {
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../media/products/38.png);
}

.banner .content {
    text-align: center;
    padding-top: 100px;
}

.banner .content h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}

.banner .content p {
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}

#bannerbtn button {
    width: 150px;
    height: 30px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}

#bannerbtn button:hover {
    background-color: #1c1c50;
    border: none;
}

/* banner */


